<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <!-- Footer -->
    <footer class="py-5 bg-dark" data-th-fragment="footer">
        <a id="goToTop" href="#" style="float:right">
            <i class="icon-arrow-up icon-large" aria-hidden="true"></i>
            &nbsp;
        </a>
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; www.srm806.com</p>
        </div>
        <!-- /.container -->
    </footer>
</body>
</html>